:root {
  /* Primary */

  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Footer: hsl(233, 27%, 24%);

  /* Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  cursor: pointer;
}
header {
  width: 100%;
  padding: 0 6rem;
  background-color: var(--White);
  box-shadow: 0 10px 11px -14px var(--Dark-Blue);
  position: fixed;
  z-index: 11;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.icon-open,
.icon-close {
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 1.5rem;
}
.nav-menu a {
  font-size: 1rem;
  color: var(--Grayish-Blue);
  font-weight: 400;
  position: relative;
}
.nav-menu a:hover {
  color: var(--Dark-Blue);
  font-weight: 700;
}
.nav-menu a::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--Lime-Green);
  bottom: -24px;
  transition: 0.3s;
  width: 0;
}
.nav-menu a:hover::before {
  width: 100%;
}
.btn-invite {
  color: var(--White);
  background: linear-gradient(
    90deg,
    var(--Lime-Green) 0%,
    var(--Bright-Cyan) 100%
  );
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
}
.btn-invite:hover {
  background: linear-gradient(
    90deg,
    hsl(136, 65%, 70%) 0%,
    hsl(192, 70%, 70%) 100%
  );
}

section {
  min-height: 100vh;
  padding: 4.2rem 10rem;
}
.section-home {
  display: grid;
  align-items: center;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--Very-Light-Gray);
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: right -30rem bottom 0;
}
.section-home article {
  padding: 0 4rem 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.section-home article h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--Dark-Blue);
}
.container-mockups {
  overflow: hidden;
}
.mockups {
  width: 45rem;
  top: 0;
  right: -8rem;
}
.section-home article p,
.section-about div p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--Grayish-Blue);
}
.section-about,
.section-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.section-about {
  background-color: var(--Light-Grayish-Blue);
}
.section-blog {
  background-color: var(--Very-Light-Gray);
}
.head-about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.head-about h2,
.section-blog h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--Dark-Blue);
}
.container-feature,
.last-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
}
.last-articles article {
  background-color: var(--White);
  border-radius: 5px;
}
.container-feature article {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.container-feature article h3 {
  font-size: 1.4rem;
  color: var(--Dark-Blue);
  font-weight: 400;
}
.container-feature article p {
  font-size: 1rem;
  line-height: 1.6;
}
.container-feature article img {
  width: 4.5rem;
}
.last-articles img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}
.post {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.post .author {
  font-size: 0.7rem;
  color: var(--Grayish-Blue);
}
.post h3 a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--Dark-Blue);
}
.post h3 a:hover {
  color: var(--Lime-Green);
}
.post p {
  font-size: 0.85rem;
  color: var(--Grayish-Blue);
}
.section-footer {
  padding: 3rem 10rem;
  background-color: var(--Footer);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 60%;
  gap: 3rem;
}
.rr-ss {
  display: flex;
  gap: 12px;
  margin-top: 3rem;
}
.icon-social:hover path {
  fill: var(--Lime-Green);
}
.left ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left ul li a {
  color: var(--Light-Grayish-Blue);
  font-size: 1rem;
}
.left ul li a:hover {
  color: var(--Lime-Green);
}
.right {
  flex: 1 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
.copyright {
  font-size: 0.9rem;
  color: var(--Grayish-Blue);
  text-align: left;
}
nav img:nth-child(4),
nav img:nth-child(5) {
  display: none;
  cursor: pointer;
}
.show {
  display: none !important;
}

.active {
  display: flex;
}
.screen-filter {
  filter: blur(5px) brightness(0.7);
}
/* MEDIA QUERY */
@media screen and (max-width: 1080px) {
  header {
    padding: 0 3rem;
  }
  .section-footer {
    gap: 4rem;
    padding: 3rem 5rem;
  }
  .nav-menu {
    gap: 1rem;
  }
  section {
    padding: 0 5rem;
  }
  .section-home {
    background-position: right -41rem bottom 0;
  }
  .section-home article {
    padding: 0 2rem 0 5rem;
  }
  .right {
    flex: 1 30%;
  }
  .mockups {
    width: 41rem;
  }
}
@media screen and (max-width: 768px) {
  nav img:nth-child(4),
  nav img:nth-child(5) {
    display: block;
  }
  header {
    padding: 1rem 3rem;
  }
  .icon-open {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: var(--White);
    border-radius: 0.5rem;
    width: 90%;
    right: 5%;
    top: 6rem;
    align-items: center;
    font-size: 1.5rem;
  }
  .nav-menu a::before {
    bottom: -5px;
    width: 0;
  }
  .nav-menu a {
    color: var(--Dark-Blue);
  }
  .btn-nav {
    display: none;
  }
  .container-mockups {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    padding: 4rem 2.5rem;
  }
  .section-home {
    grid-template-columns: 1fr;
    background-image: none;
    padding: 0 0 4rem;
  }
  .section-home article {
    grid-row: 2/3;
    padding: 0 2.5rem 0;
  }
  .container-mockups {
    position: relative;
    grid-row: 1/2;
    background-image: url(./images/bg-intro-mobile.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mockups {
    position: relative;
    width: 100%;
    right: 0;
  }
  .section-footer {
    padding: 3rem 2.5rem;
  }
  .right {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 0.5rem 1rem;
  }
  section {
    padding: 4rem 1rem;
  }
  .section-home article {
    padding: 0 0.5rem 0 1rem;
  }
  .section-home article h1 {
    font-size: 3rem;
  }
  .left {
    flex-direction: column;
    align-items: center;
  }
  .container-feature,
  .last-articles {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .icons,
  ul,
  .right {
    align-items: center;
  }
  nav ul{
    top: 4.5rem;
  }
}
